window {
    font-family: 'JetBrainsMono Nerd Font', monospace;
    font-size: 16px;
    background-color: rgba(30, 30, 46, 0.95);
}

button {
    background-repeat: no-repeat;
    background-position: center 30px;
    background-size: 30px;
	background-color: rgba(49, 50, 68, 0.25);
    margin: 8px;
    border: none;
	box-shadow: inset 0 -3px transparent;
    transition: background-color 0.2s ease-in-out;
}

button:focus, button:active, button:hover {
    background-color: rgba(49, 50, 68, 0.75);
	outline-style: none;
	border: none;

}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
